.item:not(:last-child) {
  margin-bottom: 16px;
}

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 12px 24px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
