.container {
  padding: 32px 18px 50px;
}

.title {
  margin-bottom: 42px;
  text-align: center;
  max-width: 238px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  margin-bottom: 8px;
  width: calc((100% - 16px) / 3);
  min-height: 229px;
  border-radius: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.containerPlus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.containerPlus svg:nth-child(1) {
  position: absolute;
  transform: rotate(90deg);
}

.item:not(:nth-child(3n)) {
  margin-right: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.containerImg {
  width: 100%;
  height: 105px;
  background-color: var(--grayС4);
}

.containerImg img {
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 4px 15px 15px;
}

.titleCard {
  margin-bottom: 24px;
  font-weight: 400;
}

.text {
  margin-bottom: 4px;
  display: block;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button {
  margin-right: auto;
  margin-left: auto;
  padding: 12px 32px;
  border-radius: 20px;
  text-align: center;
  display: block;
  width: 165px;
  background-color: var(--greenLight);
}

@media all and (min-width: 1024px) {
  .container {
    min-height: calc(100vh - 60px);
  }
}
