.container {
  max-width: 357px;
  width: 100%;
  display: flex;
}

.title {
  margin: 0 auto 32px;
  text-align: center;
  max-width: 215px;
}

.buttonCancel {
  background-color: transparent;
  border: 2px solid var(--greenLight);
}

.buttonCancel span {
  color: var(--greenLight);
}

.button {
  margin-bottom: 50px;
}

.buttonConfirm {
  margin-top: 40px;
  margin-bottom: 12px;
}
