.container {
  min-height: 500px;
  text-align: center;
  padding: 32px 24px;
}

.title {
  margin-bottom: 68px;
  max-width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.form {
  margin-bottom: 55px;
}

@media all and (min-width: 1024px) {
  .container {
    min-height: calc(100vh - 60px);
  }
}
