.input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 32px 18px 114px;
}

.label {
  position: relative;
  color: var(--black);
  line-height: 19px;
  padding: 12px 18px;
  font-size: 20px;
}

.list {
  position: relative;
  text-align: center;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 -4px 40px 0 #00000026;
}

.form {
  margin-bottom: 16px;
  width: 100%;
  max-width: 392px;
  align-self: center;
}

.input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.input + label::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 20px;
  background-color: var(--grayF0);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  z-index: -1;
  transition: 0.4s;
}

.input:checked + label::before {
  background-color: var(--greenLight);
  transition: 0.4s;
}

.input:checked + label {
  color: var(--white);
}

/* стили разметки поля с временем записи */
.item:not(:nth-child(3n)) {
  margin-right: 15px;
}

.item:not(:nth-last-child(-n+3)) {
  margin-bottom: 16px;
}

/* стили маркеров */

.listMarker {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 48px;
}

.itemMarker {
  display: flex;
  align-items: center;
}

.itemMarker:not(:last-child) {
  margin-bottom: 4px;
}

.marker {
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.markerOpen {
  background-color: var(--grayF0);
}

.markerClose {
  background-color: var(--redVar);
}

.markerСhoice {
  background-color: var(--greenLight);
}

.input:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.input:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.input:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.input:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.input:disabled + label::before {
  color: var(--white);
  background-color: var(--redVar);
}

.input:disabled + label {
  color: var(--white);
}

.button {
  margin-left: auto;
  margin-right: auto;
  padding: 12px 32px;
  background-color: var(--greenLight);
  border-radius: 20px;
  text-align: center;
}

.button span {
  font-weight: 900;
}

.title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  font-weight: 900;
  max-width: 258px;
  text-align: center;
}
