.content {
  padding: 50px 30px 192px;
  text-align: center;
}

.title {
  margin-bottom: 48px;
  font-weight: 700;
}

.text {
  margin-bottom: 13px;
}

.info {
  margin-bottom: 16px;
}

.buttonRegistration {
  display: inline-block;
  margin-bottom: 48px;
  padding: 12px 32px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 900;
  background-color: var(--greenLight);
  color: var(--white);
  border-radius: 20px;
}

.buttonEntry {
  display: inline-block;
  padding: 12px 32px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 900;
  background-color: var(--greenLight);
  color: var(--white);
  border-radius: 20px;
}
