.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 580px;
}

.subContainer {
  padding: 33px 24px;
  width: 100%;
}

@media all and (min-width: 1024px) {
  .container {
    min-height: calc(100vh - 60px);
  }
}
