.container {
  padding: 32px 18px 50px;
}

.title {
  margin-bottom: 59px;
  text-align: center;
  max-width: 238px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 12px;
  background-color: transparent;
  border: 2px solid var(--greenLight);
  border-radius: 20px;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  width: 100%;
  color: var(--gray99);
}

.label {
  position: absolute;
  padding: 3px;
  top: -10px;
  left: 56px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  background-color: var(--white);
  z-index: 10;
}

.inputContainer {
  position: relative;
  padding: 0 29px;
  margin-bottom: 26px;
}

.inputTagContainer {
  margin-bottom: 24px;
  padding: 0 19px;
}

.inputTag {
  padding: 2px 12px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  color: var(--gray99);
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--greenLight);
}

.labelTag {
  padding-left: 8px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.textarea {
  width: 100%;
  padding: 16px 28px;
  border: 2px solid var(--greenLight);
  border-radius: 20px;
  resize: none;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  height: 115px;
  color: var(--gray99);
}

.textareaContainer {
  margin-bottom: 24px;
  padding: 0 9px;
}

.inputFileContainer {
  position: relative;
  padding: 0 9px;
  margin-bottom: 32px;
}

.inputFile {
  width: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFileBtn {
  padding: 16px;
  width: 100%;
  display: block;
  background-color: transparent;
  box-shadow: 0 4px 10px 0 #00000026;
  border-radius: 20px;
}

.inputFileBtn span {
  color: var(--greenDark);
  font-weight: 500;
}

.btnNextPage {
  margin-right: auto;
  margin-left: auto;
  padding: 12px 32px;
  background-color: var(--greenLight);
  color: var(--white);
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.textInfo {
  margin-bottom: 18px;
  font-weight: 500;
  text-align: center;
}

@media all and (min-width: 1024px) {
  .container {
    min-height: calc(100vh - 60px);
  }
}
