.container {
  text-align: center;
  min-height: 600px;
  position: relative;
}

.title {
  margin-bottom: 33px;
}

.group {
  display: flex;
  justify-content: space-between;
}

.form {
  margin-bottom: 30px;
}

.text {
  font-weight: 500;
}

.group:not(:last-child) {
  margin-bottom: 23px;
}

/* для элемента input c type="radio" */
.radioInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.radioInput + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 500;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.radioInput + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.radioInput:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.radioInput:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.radioInput:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(3, 129, 117, 0.3);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.radioInput:focus:not(:checked) + label::before {
  border-color: var(--greenLight);
  box-shadow: 0 0 0 0.2rem rgba(3, 129, 117, 0.3);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.radioInput:checked + label::before {
  border-color: var(--greenLight);
  background-color: transparent;
  background-image: url('../../../../../assets/images/circleSolid.svg');
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.radioInput:disabled + label::before {
  background-color: #e9ecef;
}

.button {
  padding: 12px 32px;
  background-color: var(--greenLight);
  border-radius: 20px;
}

.button span {
  font-weight: 900;
}

.item {
  max-width: calc((100% - 42px) / 2);
  width: 100%;
  height: 111px;
}

.listButton {
  display: flex;
  padding: 16px;
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
}

.listButton img {
  position: absolute;
  top: 16px;
  right: 16px;
}

.listButton span {
  font-weight: 900;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.item:not(:nth-of-type(2n)) {
  margin-right: 42px;
}

.item:not(:nth-last-child(-n+2)) {
  margin-bottom: 16px;
}

.btnBack {
  top: 0;
  left: -10px;
}
